@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* @import '~noty/src/noty.css';
@import '~noty/src/theme/mint.css'; */
nav li:last-child a{
    background: #FE5F1E;
}
nav li:last-child :hover{
    background: #b23301;
}
nav li a {
    transition: all .3s ease-in-out;
}
/* USINH SAAS */
/* nav li a{
    &:hover{
        color: #FE5F1E;
    }
} */

nav li a:hover{
    color:#FE5F1E;
}
section.hero{
    background: #F8F8F8;
}
.size{
    background: #F8F8F8;
}
.add-to-cart{
    border:2px solid #FE5F1E;
    color: #FE5F1E;
}
.add-to-cart:hover{
    transition: .3s ease-in-out;
   background-color:  #FE5F1E;
    border-color: white;
    color:white;
}
.add-to-cart:focus{
    outline:none
}
.btn-primary{
    background-color: #FE5F1E;
}
.btn-primary:hover{
    background-color: #b23301;
    transition: all .3s ease-in-out;
}
section.cart{
    background-color: #F8F8F8;
}
.amount{
    color:#FE5F1E;
}
section.login{
    background-color: #F8F8F8;
    min-height: calc(100vh- 86px);
}
section.login a {
    color:#FE5F1E;
}
section.login a:hover {
    color: #b23301;
}

.noty_effects_open {
    opacity: 0;
    transform: translate(50%);
    animation: noty_anim_in 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .noty_effects_close {
    animation: noty_anim_out 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  @keyframes noty_anim_in {
    100% {
      transform: translate(0);
      opacity: 1;
    }
  }
  
  @keyframes noty_anim_out {
    100% {
      transform: translate(50%);
      opacity: 0;
    }
  }
  /* primary =#FE5F1E; */
  a.link{
      color:#FE5F1E;

  }